body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.first{
    display: flex;
    gap: 10px;
}

.color_display{
    background-color: blue;
    width: 15vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: larger;
}
.color_box{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    height: 25vh;
    width: 45vw;
    gap: 10px;
}
button{
    width: 15%;
    height: 25%;
    background-color: rgb(240, 237, 237);
    border: 1px solid rgb(172, 170, 170);
    border-radius: 20px;
    
}
button:hover{
    cursor: pointer;
    background-color: rgb(214, 211, 211);
}
